* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* background-color:#0B0423; */
  background: linear-gradient(0deg, #2196f3, #e91e63);
  /* background: linear-gradient(0deg, black,blue); */
  filter: blur(500);
}
input {
  margin-top: 2vw;
  margin-right: 2vw;
  width: 24vw;
  height: 2vw;
  font-size: 1vw;
  font-weight: 650;
  padding: 1vw;
  background-color: rgba(128, 128, 128, 0.414);
  color: gold;
  letter-spacing: 1.5px;
  border-color: rgba(255, 228, 196, 0.597);
  border-radius: 10px;
  font-family: inherit;
  /* text-decoration: underline; */
}
input::placeholder {
  color: rgba(0, 0, 0, 0.476);
}
button {
  width: 5vw;
  height: 2vw;
  font-size: 1vw;
  border-radius: 10px;
  border-color: white;
}

button#add-button {
  letter-spacing: 2px;
  box-shadow: 2px 2px 8px black;
}
#add-button:active {
  font-size: 1.1vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.533);
  box-shadow: 2px 2px 20px black;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  width: 100%;
  height: 90%;
  border: 2px dotted black;
  position: relative;
}
.left,
.right {
  width: 40vw;
  height: 30vw;

  border: 3px solid white;
  padding: 1vw;

  overflow-y: auto;
  border-radius: 10px;
}
.left::-webkit-scrollbar,
.right::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.left::-webkit-scrollbar-thumb,
.right::-webkit-scrollbar-thumb {
  background: #88888890; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Radius of the scrollbar thumb corners */
}

.left::-webkit-scrollbar-track,
.right::-webkit-scrollbar-track {
  background: #f1f1f18b; /* Color of the scrollbar track */
  border-radius: 8px; /* Radius of the scrollbar track corners */
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.left::-webkit-scrollbar-thumb:hover,
.right::-webkit-scrollbar-thumb:hover {
  background: #888888ae; /* Color of the scrollbar thumb on hover */
}

/* To support Firefox and other browsers */
.left,
.right {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.left:hover,
.right:hover {
  scrollbar-color: #555 #f1f1f1; /* Change color on hover */
}

button#clear-all {
    width: 100px;
    border-radius: 5px;
  position: absolute;
  top: 2vw;
  letter-spacing: 1.5px;
  font-weight: 550;
  border-radius: 15px;
  box-shadow: 2px 4px 5px black;
}

button#clear-all:active{
    font-size: 1.1vw;
    background-color:rgba(0, 0, 0, 0.40);
    color: white;
  box-shadow: 2px 4px 20px black;

}
div.p {
  background-color: #e91e62d5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-inline: 0.3vw;
  gap: 10px;
  margin-bottom: 0.5vw;
  border-radius: 10px;
  box-shadow: 2px 3px black;
}
div.p p {
  flex: 15;
}
#edit,
#delete {
  flex: 1;
}
p {
  padding: 0.5vw;
  margin: 0.5vw;
  word-wrap: break-word;
  font-size: 1.4vw;
}
div.p button {
  background-color: rgba(128, 128, 128, 0.627);
  border-color: transparent;
  border-radius: 50%;
  width: 30px;
  margin-inline: 5px;
  font-size: 0.8vw;
  font-weight: 900;
}

button#edit {
  display: inline-block;
  transform: scaleX(-1);
}

div.p button.invisible {
  visibility: hidden;
}

div.p button.edit {
  background-color: rgba(0, 0, 0, 0.446);
  color: white;
}
